<h1>Pokemon API | C# Assingment</h1>
<!-- <button id="check">Check PokeId</button> -->
<h1>@TempData["name"]</h1>
<h1>@TempData["types"]</h1>

<h1>@TempData["height"]</h1>
<h1>@TempData["weight"]</h1>
<img src='@TempData["spriteSrc"]'>